@charset "UTF-8";

// setting
@import "setting/fonts";
@import "setting/vars";
@import "setting/reset";
@import "setting/mixin";

// section
@import "section/header";
@import "section/intro";
@import "section/skill";
@import "section/site";


// styles/fonts.scss
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'GT Walsheim';
    src: url('https://raw.githubusercontent.com/D-PLACE/dplace2/master/dplace2/static/fonts/GT-Walsheim-Bold.woff') format('woff');
    font-weight: '800';
    font-style: normal;
}


  .pretendard {
    font-family: "Pretendard";
  }
body {
    
    font-family: 'Pretendard';
    font-style: normal;
    overflow-x: hidden;
}