#first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 115vh;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    max-width: 100%;
}
.first__header {
    width: 1660px;
    height: 440px;
.header.hidden {
        visibility: hidden;
    }
}
.first__header__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letz_image {
    position: relative;
    width: 22vw;
    height: 20vh;
    background-size: cover;
    background-position: center;
    transform: translateY(-30px);
}

.letz_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; 
    background-color: #333; 
}

.letz_image .react-lottie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1920px) {
    .letz_image {
        position: relative;
        width: 415px;
        height: 21vh;
        background-size: cover;
        background-position: center;
        transform: translateY(-110px);
    }
    .must__day {
        position: absolute;
        top: 48%;
        left: 0;
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 1440px) {
    .letz_image {
        position: relative;
        width: 415px;
        height: 21vh;
        bottom: 1rem;
        background-size: cover;
        background-position: center;
        transform: translateY(-11px);
    }
    .must__day {
        position: absolute;
        top: 60%;
        left: 0;
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .letz_image {
        position: relative;
        width: 320px;
        height: 25vh;
        bottom: 1rem;
        background-size: cover;
        background-position: center;
        transform: translateY(90px);
    } 
    .must__day {
        top: 75%;
        left: 0;
        text-align: center;
        width: 100%;
        position: absolute;
    }
    .first__nav {
        display: block;
        width: 100%;
        background-color: rgba(20, 24, 30, 1); 
        border-top: 1px solid #dee2e6; 
        box-sizing: border-box; 
        padding: 14px 10px 14px 10px;
        z-index: 1000; 
        border: none;
        font-size: 1rem;
        font-weight: 600;
    }

    .first__nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        
    }

    .first__nav a {
        color: #212529; 
        text-decoration: none;
        display: block;
    }
    .first__nav li {
        
        text-align: center;
        flex: 1;
    }
}


body {
    overflow-x: hidden;
}

@media (min-width: 769px) {
    .first__nav-mobile {
        display: none;
    }
}
@media (max-width: 768px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
 
 
}
