* {
    box-sizing: border-box;  
}

body {
    overflow-x: hidden;  
}

#footer {
    min-height: 55vh;
    background-color: rgba(52, 58, 64, 1);
}

.final__footer {
    width: 610px;
    height: 268px;
    color: rgba(134, 142, 150, 1);
    font-size: 14px;
    font-weight: 600;
}

.final__footer__title {
    text-align: center;
}

.final__footer ul {
    padding: 0;
    list-style-position: outside;
    text-align: left;
    padding-left: 1em;
    list-style-type: disc;
}

.final__footer__title h2 {
    font-size: 1.2rem;
    padding-top: 3rem;
    font-weight: 600;
    text-align: left;
}

@media (min-width: 768px) {
    .final__footer {
        height: 48vh;
        margin-left: 19rem;
    }
    .final__footer__title h2 {
        margin-right: 1rem;
        padding-bottom: 1rem;
        margin-left: 11rem;
    }

    .final__footer ul {
        margin-left: 12rem;
        margin-right: -11rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (max-width: 480px) {
  
    #footer {
        min-height: 78vh;
    }
    .final__footer {
        padding: 10px 20px 10px 10px;
    }
    .final__footer ul {
        padding-left: 3rem;
        padding-right:2em;
    }
    .final__footer__title h2 {
        padding-left: 1.3rem;
        padding-bottom: 1.5rem;
    }
}


@media (min-width: 1920px) {
    .final__footer {
        margin-left: 29rem;
    }

    .final__footer__title h2 {
        margin-right: 1rem;
        padding-bottom: 1rem;
        margin-left: 11rem;
    }

    .final__footer ul {
        margin-left: 15rem;
        margin-right: -11rem;
    }
}