#header {
    position: absolute;  // position-fixed를 position: absolute;로 변경
    height: 64px;
    width: 500px;
    .header__logo {
        position: absolute; 
        top: 0;
    }
}
@media (min-width: 1920px){
    #header {
        width: 500px;
        height: 64px;
    }
    .header__inner {
        @include flex-between;
        background-color:none;
        width: 500px;
        height: 64px;
        justify-content: space-between;
        padding: 0px,80px,8px,80px;
        .header__logo {
            font-size: 0.9rem;
            text-align: center;
            line-height: 1;
            position: absolute;  // 로고를 상단에 위치
            top: 0;
        }
        .letz_logo {
            margin: 0 1rem;
        }
        @media (min-width: 1440px){
            #header {
                width: 500px;
                height: 64px;
            }
            .header__inner {
                @include flex-between;
                background-color: none;
                width: 1440px;
                height: 64px;
                justify-content: space-between;
                padding: 0px 80px 8px 80px;
            
                .header__logo {
                    font-size: 0.9rem;
                    text-align: center;
                    line-height: 1;
                    position: absolute;  // 로고를 상단에 위치
                    top: 0;
                }
                .letz_logo {
                    margin: 0 1rem;
                }
    @media (max-width: 576px){
        .header__logo {
            font-size: 0.5rem;
            text-align: center;
            line-height: 1;
            position: absolute;  // 로고를 상단에 위치
            top: 0;
        }
    }
}
    }
    }
}
.header__inner {
    @include flex-between;
    background-color: none;
    padding: 0rem;

    .header__logo {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1;
        position: absolute;  // 로고를 상단에 위치
        top: 0;
    }
    .letz_logo {
        padding-top: 24px;
        padding-left: 21px;
    }}
