#intro {
    width: 100%;
    height: 100%;
}

@media (min-width: 1190px){
    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #14181E;
    }

    .letzmovieimg {
        width: 1200px;
        height: 750px;
        flex-shrink: 0;
    }
}

@media (min-width: 1100px) {
    .intro__coming-soon h1{
        white-space: none;
    }
}

.letzmovieimg {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .playButton {
        background: none;
        border: none;
        position: absolute;
        top: 45%;
        left: 50%;
        width: 133px;
        height: 140px;
        transform: translate(-50%, -50%);
    }
    
    img {
        width: 1200px;
        height: 550px;
        border-radius: 20px;

        @media screen and (max-width: 1100px) {
            width: 320px;
            height: 480px;
            border-radius: 20px;
        }
    }
}


.letzmovieimg {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .playButton {
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 133px;
        height: 140px;
        transform: translate(-50%, -50%);
    }
    
    img {
        width: 1200px;
        height: 550px;
        object-fit: cover;
        @media screen and (max-width: 1100px) {
            width: 320px;
            height: 480px;
        }
    }
}

.intro__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    width: 100%;
    height: 100%;

    @media (max-width: 800px){
        flex-direction: column;
    }
}

.intro__coming-soon {
    width: 420px;
    height: auto;
    gap: 40px;
    text-align: center;
}

.intro__coming-soon h3 {
    color: rgba(0, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
}

.intro__coming-soon h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    font-weight: 700;
    white-space: pre-line;
}

.intro__coming-soon p {
    color: rgba(134, 142, 150, 1);
    font-size: 1.2rem;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14181E;
    z-index: 9999;
    padding-top: 80px;
    padding-bottom: 50px;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    z-index: 9000;  // z-index를 높게 설정
}

.youtubeVideo {
    width: 100%;
    height: 100%;
}

.movietitle {
    color: #0FF;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: -0.48px;
}

@media (min-width: 1100px) and (max-width: 1921px) {
    .intro__coming-soon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .intro__coming-soon h1 {
        color: var(--white-alpha-100, #FFF);
        text-align: center;
        font-family: Pretendard;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 155.556% */
        letter-spacing: -0.72px;
        white-space: nowrap;
    }
    .intro__inner {
        padding: 120px 0px 60px 0px;
    }
    .intro__coming-soon h3 {
        gap: 16;
    }
    #intro { 
        padding-bottom: 120px;
    }
    .playButton {
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 133px;
        height: 140px;
        transform: translate(-50%, -50%);
    }

}


@media screen and (max-width: 1099px) {
    .intro__coming-soon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro__coming-soon h3 {
        font-size: 14px;
}

    .playButton {
        width: 111px;
        height: 130px;
    }
    #intro {
        padding-bottom: 80px;
        background-color: #14181E;
    }
  
}