.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    label {
        color: rgba(134, 142, 150, 1);
        margin-bottom: 0.5em;
        text-align: left;
        padding-left: 10px;
    }

    .nameInput {
        width: 100%;
        max-width: 420px;
        height: 56px;
        border-radius: 4px;
        border: none;
        color: rgba(134, 142, 150, 1);
        background-color: rgba(52, 58, 64, 1);
        font-size: 18px;
        font-weight: 500;
        font-family: 'Pretendard';
        padding-left: 10px;
        
        @media (max-width: 768px) {
          width: calc(100% - 20px);
          margin-left: 10px;  
          margin-right: 10px;
    }
}
    p {
        margin-top: 5px;
    }
}

.submitButton {
    width: 100%;
    max-width: 420px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    gap: 8px;
    background-color: rgba(0, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s ease;
    &:hover {
        cursor: pointer;
       
    }

    @media (max-width: 768px) {
        position: fixed;
        width: calc(100% - 2rem);  
        bottom: 2.31rem;  
        left: 1rem;  /* 추가된 부분 */
        right: 1rem;  /* 추가된 부분 */
         
        max-width: 100%;  
        z-index: 9999;

    }
}


.DownloadButton {
  width: 100%;
  max-width: 420px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 0 16px;
  margin-top: 1rem;
  background-color: rgba(142, 102, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 500;
  transition: background 0.3s ease;
  &:hover {
      cursor: pointer;
     
  }
  @media (max-width: 768px) {
    width: calc(100% - 20px);
    margin-left: 10px;  
    margin-right: 10px;
}
}


.agreeCheckbox {
  display: flex;
  align-items: center;
  max-width: 420px;
  height: 56px;
  border-radius: 4px;
  padding: 0 16px;
  line-height: 22px;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Pretendard";

  .checkbox {
    display: none;
  }

  label {
    display: inline-block;
    width: 20px;
    height: 20px;
    
    border: 2px solid gray;
    border-radius: 50%;
    background-color: rgba(134, 142, 150, 1);
    cursor: pointer;
  }

  .checkbox:checked + label::after {
    content: '\2713';
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: white;
  }
  @media (max-width: 768px) {
    width: calc(100% - 20px);
    margin-left: 10px;  
    margin-right: 10px;
}
}

.agreeAbout {
  width: 100%;
  max-width: 420px;
  height: 90px;
  line-height: 70px;
  border: none;
  border-radius: 4px;
  color: rgba(134, 142, 150, 1);
  background-color: #1D2129;
  font-size: 14px;
  font-family: 'Pretendard';
  padding-left: 10px;
  margin-top: 5px;
  font-weight: 600;
  vertical-align: middle;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    width: calc(100% - 20px);
    margin-left: 10px;  
    margin-right: 10px;
}
}