#site {
    height: 100%;
    overflow-x: hidden;

}
.site__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
@media screen and (max-width: 1099px) {
    .site__inner {
        padding: 0px 0;
    }
    .site__wrap {
        width: 100%;
        padding: 0 0px;
    }
    .site__wrap > div, .rolling-container {
        flex-direction: column;
        justify-content: center;  
        gap: 20px;  
    }
    .rollingSSunder {
        width: 100%;
    }
    .lastbackground {
        display: flex;
        width: 1099px;
        padding: 56px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .lastTitle {
        margin-top: 0px;
        
    }
    .rolling-container {
        align-items: flex-end;
gap: 16px;
    }
}


.site__wrap {
    height: auto;
    gap: 40px;
    text-align: center;
}
.site__wrap h3 {
    color: rgba(0, 255, 255, 1);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.site__wrap h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
}

.site__wrap p {
    color: rgba(134, 142, 150, 1);
    font-size: 1.2rem;
}

.site__wrap h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
}

.rollingSSunder {
    width: 300px;
    height: 150px;
    background-color: rgba(39, 46, 56, 1);
    border-radius: 15px;
    padding: 20px 17px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    white-space: pre-line;
    text-align: left;
    position: relative;
    margin-right: 16px;
}

@media screen and (max-width: 800px) {
    .rollingSSunder {
        margin-top: 15px;
    }
}
.lastTitle {
    color: var(--white-alpha-100, #FFF);
    font-size: 24px;
    font-weight: 600;
    white-space: pre-line;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}
.SnsIcon {
    z-index: 10;
    position: relative;
    margin-bottom: 2rem; 
}


.lastbackground {
    background: #14181E;
    width: 100%;
}
@media (min-width: 1100px) and (max-width: 1921px) {
    .site__inner {
        padding: 0px 0;
    }
    .lastbackground {
        display: flex;
        width: 1920px;
        padding: 120px 0px;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .lastTitle {
        margin-top: 0;
    }

    .site__wrap h1 {
        color: var(--white-alpha-100, #FFF);
        text-align: center;
        font-family: Pretendard;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 155.556% */
        letter-spacing: -0.72px;
    }
    .site__wrap h2 {
        color: var(--white-alpha-100, #FFF);
        text-align: center;
        font-family: Pretendard;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 155.556% */
        letter-spacing: -0.72px;
    }
}