#site {
    height: 100%;
    overflow: hidden;
}

.site__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

@media screen and (max-width: 800px) {
    .site__inner {
        padding: 50px 0;
    }
    .site__wrap {
        width: 100%;
        padding: 0 20px;
    }
    .site__wrap > div, .rolling-container {
        flex-direction: column;
    }
    .rollingSSunder {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 801px) {
    .site__inner {
        padding: 200px 0;
    }
    .site__wrap {
        width: 420px;
    }
    .site__wrap > div > div, .rolling-container {
        flex-direction: row;
    }
}

.site__wrap {
    height: auto;
    gap: 40px;
    text-align: center;
}

.site__wrap h3 {
    color: rgba(0, 255, 255, 1);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.site__wrap h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 1.8rem;
    font-weight: bold;
}

.site__wrap p {
    color: rgba(134, 142, 150, 1);
    font-size: 1.2rem;
}

.site__wrap h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-weight: bold;
}

.rollingSSunder {
    width: 300px;
    height: 150px;
    background-color: rgba(39, 46, 56, 1);
    border-radius: 15px;
    padding: 20px 17px;
    margin-top: 100px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    white-space: pre-line;
    text-align: left;
    position: relative;
}

.lastTitle {
    color: rgba(134, 142, 150, 1);
    font-size: 1.3rem;
    white-space: pre-line;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}

.SnsIcon {
    z-index: 10;
    position: relative;
    margin-bottom: 2rem; /* 필요한 경우 조정하세요. */
}
