#skill {
    height: 100vh;
}
.skill__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;
    justify-content: center;
    
    @media (max-width: 800px){ 
        justify-content: center;
    }
}
.skill__event {
    width: 420px;
    height: auto;
    gap: 40px;
    text-align: center;
    
    
}

.skill__event h3 {
    color: rgba(0, 255, 255, 1);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.skill__event h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.skill__event p {
    color: rgba(134, 142, 150, 1);
    font-size: 1.2rem;
    
}
