#skill {
    height: 100vh;
}
.slkll__inner {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 120px, 0px, 120px, 0px;
    
    @media (max-width: 800px){ 
        
    }

    .skill__desc {
        width: 50%;

        @media (max-width: 800px){ 
            width: 100%;
        }

        span {
            font-size: 5vw;
            line-height: 1;
            font-weight: 900;
            line-height: 1.3;
            font-family: var(--mainNum-font);

            @media (max-width: 800px){ 
                font-size: 20vw;
            }
        }
        h3 {
            font-size: 1.5rem;
            text-decoration: underline;
            text-underline-position: under;
            margin-bottom: 1vw;
        }
        p {
            margin-bottom: 30vh;
            font-size: 1.1rem;
        }
    }
}